.card_links {
    text-decoration: none;
    width: 25px;
}

.container {
    background-color: #fff;
    color: #000;
}

input[type="text"],
textarea {
    background-color: whitesmoke;
    color: black;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    opacity: 0.8;
}
